.layout-parent {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 15px;
    gap: 20px;
    box-sizing: border-box; /* Ensure padding is included in dimensions */
}

.sidebar {
    /* width: 300px; */
    background-color: #8181d4;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 20px; /* Space between menu items */
    padding:0 20;
}

.body {
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
    display: flex;
    align-items: center; /* Vertically center header content */
    justify-content: start; /* Horizontally center header content */
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
}

.menu-item {
    display: flex;
    align-items: center; /* Vertically center icon and text */
    justify-content: start;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.25s;
    width: 100%; /* Ensure menu items span full width */
    border-radius: 5px; /* Slight rounding for better appearance */
    gap: 10px; /* Space between icon and text */
}
.active-menu-item {
    border:2px solid white !important;
}



.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Add hover effect */
}

.menu-item i {
    font-size: 24px; /* Icon size */
    margin-right: 10px;
    color: white; /* Icon color */
}

.menu-item span {
    font-size: 18px;
    color: white;
}

.content {
    flex-grow: 1; /* Fill remaining space */
    padding: 20px;
    overflow-y: auto;
}