:root{
    --primary : #0d6efd;
    --secondary : #1e6cb0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif !important;
    font-size: 16px ;
}